html, body {
    font-family: Verdana, sans-serif;
    font-size:97%;
    line-height: 165%;
    background-image:url('../static/Mahogany.jpg');
    background-size:cover;
    height:100%;    
}

.about_image {
    width:90%;
    margin-top:10px;
    margin-bottom:10px;
}

.about_image_small {
    margin-top:10px;
    margin-bottom:10px;
}

h1 {
    margin-bottom:30px;
}