.course:hover{
background-color:grey;
cursor:pointer;
}

.course_shown{
background-color:white;
cursor:default;
}

.detail {
    display:none;
}

.detail_shown {
    display:block;
    height: 100%;
    background-color:chartreuse;
}

.semester {
	display:none;
}

.semester_shown {
	display:block;
}

.semester_menu{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    background-color: red;
}

div{
    display:block;
    margin:0px;
    padding:0px;
}
    
.coursecart{
    display:inline;
    background-color:blue;
}

.coursecart:hover {
    cursor:pointer;
    background-color:grey;
}

#cart_detail {
    display:none;
    }

#outside_div {
    width:1000px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    }

#omnibar_div  {
    position:absolute;
    height:50px;
    width: 100%;
    background-color:red;
    top:0  
}

#cart_div {
    background-color:green;
    position:absolute;
    top:550px;
    width:100%;
    
    }
    
#results_div{
background-color:blue;
width:100%;
position:absolute;
top:50px;
height:500px;
z-index:-2;
}

#results_left_div{
background-color:orange;
position:absolute;
width:400px;
height:100%;
overflow:auto;
}

#results_right_div {
background-color:yellow;
position:absolute;
left:400px;
width:600px;
height:100%;
}    

#omnibar_form {
background-color:green;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
height:50px;
position:absolute;
text-align:center;
}

#omnibar_input {
-webkit-appearance:none;
width:400px;
margin-top:5px;
font-size:1.2em;
height:40px;
}
