html, body {
    height: 100%;
    margin: 0;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#AEC4DE), to(#FFFFFF));
    background-image: -moz-linear-gradient(top, #AEC4DE, #FFFFFF);
    background-image: -ms-linear-gradient(top, #AEC4DE, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #AEC4DE), color-stop(100%, #FFFFFF));
    background-image: -webkit-linear-gradient(top, #AEC4DE, #FFFFFF);
    background-image: -o-linear-gradient(top, #AEC4DE, #FFFFFF);
    background-image: linear-gradient(top, #AEC4DE, #FFFFFF);
}

.detail_all_the_things {
   font-family:Verdana,sans-serif;
   font-size:80%;
}

.detail_heading {
   font-weight:bold;
}

.detail_term {
    font-weight:bold;
}

.detail_subject_number_dist {
    font-weight:bold;
}

.detail_title {
    color:rgb(83,83,83);
    font-size:130%;
}

.detail_profs {
    color:rgb(129,37,0);
}

.detail_description {
    margin-top:5px;
    margin-right:10px;
    padding-left:3px;
    padding-right:3px;
    padding-bottom:3px;
    border-style:solid;
    border-width:1px;
    border-color:rgb(193,193,193); 
}

#hide_advanced {
	float:right;
}

.advanced_label {
	float: left;
	width: 140px;
}

#advanced_search_wrapper{
    display:none;
    position:fixed;
    width: 100%;
    min-height: 100%;
    background-color:rgba(100,100,100,0.5);
    z-index: 10;
}

#analytics{
display:none;
min-width: 700px;
max-width:700px;
height: 400px;
top: 80px;
position: absolute;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
background-color: #333333;
border-radius: 6px;
padding: 10px;
font-family:"Verdana", Verdana, sans-serif;
color:white;
z-index:11;
}

.course {
padding:5px;
}

.course:hover{
background-color:grey;
cursor:pointer;
}

.course_shown{
background-color:white;
cursor:default;
padding:5px;
}

.detail {
    display:none;
    /*height: 100%;
    margin-left:10px;
    margin-top:10px;
    width:560px;*/
}

.detail_shown {
    display:block;
    /*background-color:#f0f0f0;
    margin-left:10px;
    margin-top:10px;
    width:570px;*/
}

.semester {
	display:none;
}

.semester_shown {
	display:block;
}

.semester_menu{
    position: absolute;
    display: inline;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    background-color: #777777;
}

div{
    display:block;
    margin:0px;
    padding:0px;
}

.coursecart{
    display:inline;
    margin-right: 4px;
	z-index:0;
}
    
.removecourse_form{
    display:inline;
    background-color:#777777;
    height:24px;
    width:96px;
    border-radius:4px;
    border: 1px solid white;
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 14px;
    font-style: bold;
}

.removecourse_form:hover {
    cursor:pointer;
    background-color:white;
}

.ui-slider {
	position: relative;
	text-align: left;
    height: 18px;
    width: 200px;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
    width: 18px;
	height: 18px;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: 18px;
	display: block;
	border: 3px solid #aed0ea;
    height: 12px;
    background:#aed0ea;
}

#outside_div {
    width:1000px;
    position:absolute;
    left:0;
    right:0;
    top: 10px;
    margin-left:auto;
    margin-right:auto;
    }

#omnibar_div  {
    position: absolute;
    height:50px;
    width: 100%;
    top:0;
	z-index:0;
}

#cart_div {
    background-color:#333333;
    position:absolute;
    top:537px;
    width:100%;
    min-height: 50px;
    border-radius:6px;
    }
    
#results_div{
width:100%;
position:absolute;
top:50px;
height:475px;
z-index:0;
margin-top:5px;
}

#results_left_div{
position:absolute;
width:370px;
height:95%;
overflow:auto;
margin-left:15px;
margin-top:10px;
}

#left_scrollbar_wrap{
background-color:#f0f0f0;
position:absolute;
width:396px;
height:100%;
border-radius:6px;
border:1px;
border-style:solid;
border-color:#0f0f0f;
}

#right_scrollbar_wrap {
background-color:#f0f0f0;
position:absolute;
left:404px;
width:596px;
height:100%;
border-radius:6px;
border:1px;
border-style:solid;
border-color:#0f0f0f;
}

#results_right_div{
position:absolute;
width:570px;
height:95%;
overflow:auto;
margin-left:15px;
margin-top:10px;
}  

#show_advanced{
position:absolute;
left: 10px;
top: 10px;
z-index: 1;
}

#omnibar_form {
background-color:#333333;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
height:50px;
position:absolute;
text-align:center;
border-radius:6px;
}

#omnibar_input {
-webkit-appearance:none;
width:400px;
margin-top:7px;
font-size:1.2em;
height:35px;
}

#advanced_search{
display:none;
min-width: 700px;
max-width:700px;
height: 400px;
top: 80px;
left:0;
right:0;
position: absolute;
margin-left:auto;
margin-right:auto;
background-color: #333333;
border-radius: 6px;
padding: 10px;
font-family:"Verdana", Verdana, sans-serif;
color:white;
z-index:11;
}

#advanced_search>[type="checkbox"] {
	width:20px;
	height:20px;
}

#advanced_form>p{
	/*margin-bottom:3px;*/
}

#search_results_list{
margin: 0px;
padding:0px;
height:100%;

}

#search_results_list>li{
border-bottom: 2px solid black;
}
