<!DOCTYPE html>
<html>
<head>
<title>CAT: Course Aggregation Tool</title>
<meta charset="UTF-8">
<meta name="author" content="Noah Apthorpe, Garrett Disco, Luke Paulsen, Jocelyn Tang, Natalie Weires">
<meta name="description" content="A website to allow easy and informative comparisons of courses offered at Princeton University">
<style type="text/css"> {% include "index.css" %} </style>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/themes/cupertino/jquery.ui.theme.css">
<script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
<script src="{{STATIC_URL}}js/jquery-ui-1.10.2.custom.min.js"></script>


<!--<script> {% include "jquery.mousewheel.js" %} </script>
<script> {% include "jquery.jscrollpane.min.js" %} </script>
<style type="text/css"> {% include "jquery.jscrollpane.css" %} </style>-->

<script> {% include "index.js" %} </script>
</head>

<body>

<div id = "advanced_search_wrapper">
    <div id = "advanced_search">
        <button id = "hide_advanced"> Close </button>
        <form id = "advanced_form" action="" method="post">
            <input id = "advanced_keyword" type="search" name="text"></input>
            <select id = "advanced_distribution">
                <option value=''></option>
                {% for d in distrib %} <option value='{{ d }}'>{{ d }}</option> {% endfor %}
            </select>    
            <div style="display:block;">
                <input type="text" id="advanced_num_range" style="border: 0; font-weight: bold;" readonly/>
                <div id="advanced_num_slider"></div>
            </div>
            <input value="search" type="submit"></input>
        </form>
    </div>
</div>


<div id = "analytics_wrapper">
    <div id = "analytics">
        <button id = "hide_analytics"> Close </button>
    </div>
</div>

<div id="outside_div">

<div id = "omnibar_div">
    <button id="show_advanced"> Advanced Search </button>
    <form id="omnibar_form" action="" method="post"> {% csrf_token %}
        <input id="omnibar_input" type="search" name="text" autofocus="autofocus"></input>
        <input id="omnibar_submit" value="Search" type="submit"></input>
    </form>
</div>

<div id="results_div">
    <div id="left_scrollbar_wrap">
    <div id="results_left_div">
        <ul>

        </ul>
    </div>
    </div>
    
    <div id="right_scrollbar_wrap">
    <div id="results_right_div">
        <!--<p> Welcome to CAT! </p>
        <button id="preset_search_1"> Find PDF-only classes </button>-->
            
        {% for result in courses %}
        <div class = "detail" id="detail_num_{{result.course_id}}">
            <div class = "semester_menu"> 
                {% for term in result.all_terms %}
                    <button class="semester_{{result.course_id}}_{{term}}" {%if term == result.term%}disabled{%endif%}> {{term}} </button>
                {% endfor %}                
            </div>
            
            <div class = "semester_shown detail_sem_{{result.term}}">
                {% include "semester.html" %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>

<div id="cart_div">
    <ul id="cart_list">
        {% for course in courses %}
            {% include "cart_course.html" with course_id=course.course_id%}
        {% endfor %}
    </ul>
    <button id="show_analytics"> Analyze! </button>
</div>

</div>
</body>
</html>