<html>
<head><title>junk</title></head>
<body>
<p>Welcome to CAT (the Course Aggregation Tool). We provide you with tools that make looking for courses powerful and painless. Our smart search bar allows you to search for courses like you search for everything else, with Google-like queries. Each search result displays a colored circle that represents the course's overall SCORE rating over time, and you can sort search results by subject/number, professor, or overall rating. Once you find the result you're looking for, one click displays the Registrar's data in the same format you're used to reading on their site. You can also see data from past offerings of a course, and clicking "See Reviews" will bring you data from Princeton's required course evaluations, both graphs and written reviews.</p>
<p>A few tips to make the most of these tools:</p>
<ul>
<li>To streamline your results, we hide courses from previous semesters by default. If you're looking for a course that might not be offered every semester, be sure to click the "View Previous Semesters" button next to the search bar. Courses from previous semesters will then show up as grey results.</li>
<li>Our smart search bar is still learning! If you're not getting the results you expect, give "Advanced Search" a try, next to the search bar.</li>
<li>If you want to save a course for future reference, click the cart icon in the results. We'll store it for you in your cart (at the bottom of the page) so you can find it quickly later, even if you log out.</li>
</ul>
<hr/>
<p>Meet the team!</p>
<ul>
<li>Noah Apthorpe</br>
    Noah was our go-to UI man. Most of the CAT's look comes from his hard work, including the current CSS skin and the graphs of course review data.</li>
<li>Natalie Weires</br>
    Natalie cranked out the core of our database code in a few days over Spring break. Her passion for hacking is unmatched, and she's a great sport when we blame anything that breaks on her.</li>
<li>Luke Paulsen</br>
    Luke was CAT's renaissance man. His mastery of Django from past projects proved invaluable in getting CAT's backbone set up, but he also wrote the search bar parser, and fixed the database frequently, and polished the UI...</li>
<li>Jocelyn Tang</br>
    Jocelyn's input was critical to building our database in the early stages, and she also wrote the code that lets you search by so many intuitive categories. She also has great taste in design, and picked our final background.</li>
<li>Garrett Disco</br>
    Garrett was our team leader, and kept the group focused while working closely with Noah to design and build CAT's user interface. He also liked to blame things on Natalie.</li>
</ul>
</body>
</html>
